[Unit]
Description=FortiWLC Prometheus exporter
After=network.target
After=syslog.target

[Service]
ExecStart=/usr/bin/fortiwlc_exporter -c /etc/fortiwlc_exporter.yaml
Restart=always

[Install]
WantedBy=multi-user.target
